<input type="file" class="custom-file-input" id="inputGroupFile03" accept="image/*" (change)="handleInputChange($event)">
<!-- <input type="file" class="custom-file-input" id="inputGroupFile03" accept="image/*" (change)="handleInputChange($event)"> -->
<label class="custom-file-label" for="inputGroupFile01">Choose file</label>

<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>